#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background-color: rgba(124, 124, 124, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.homePage:hover {
  text-decoration: none;
}
